.custom-sidebar{
	background: transparent;width: 100%;padding: 45px 30px
}
.module-list{
	letter-spacing: 1px;text-indent: 10px
}

.item-menu{
	margin-top: 7px;
	border-radius: 3px;
	padding:5px 7px !important;
}

.item-menu:not(.active):hover{
	font-weight: bold;
	border:1px solid white;
}

.item-menu.active{
	border:1px solid white;
}

a.link-menu.active{
	font-weight: bold !important;
}

.link-menu{
	font-size: 1.0em;
	color: white !important;
}

.link-menu .active{
	font-weight: bold;
}

.icon-menu{
	color: white !important;
	font-size: 1.0em !important;
	font-weight: bold;
}
.custom-label{
	min-width: 0em !important;border-radius: 25px;padding: 3px 7px
}